__pycache__
*.egg-info/
.installed.cfg
*.egg
__pycache__/
*.py[cod]
*$py.class
.DS_Store
*.pyc
*.egg-info
venv
venv2
.pytest_cache/
api.log
.vscode/
.vscode
.vscode/*
chromedriver
node_modules
.git
.git/
.env
.env.db
.env.dev
.env.prod
.env.prod.db
