{% import 'bootstrap/wtf.html' as wtf %}
{% from 'bootstrap/wtf.html' import form_field %}

{% if "main.team_delete" in endpoint %}
    <form id="ModalForm" name="stepForm" action="{{ url_for(endpoint, id=id) }}" class="form" method="post">
{% elif "main.delete_profile" in endpoint %}
    <form id="ModalForm" name="stepForm" action="{{ url_for(endpoint, username=username) }}" class="form" method="post">
{% elif "main.team_remove_member" in endpoint %}
<form id="ModalForm" name="stepForm" action="{{ url_for(endpoint, id=id, username=username) }}" class="form" method="post">
{% elif "main.team_leave" in endpoint %}
   <form id="ModalForm" name="stepForm" action="{{ url_for('main.team_leave', id=id, username=current_user.username) }}" class="form" method="post">
{% elif "main.team_task_delete" in endpoint %}
<form id="ModalForm" name="stepForm" action="{{ url_for('main.team_task_delete', id=id, task_id=task_id) }}" class="form" method="post">
{% endif %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            {{ text }}

            {{ form.hidden_tag() }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            
            {% if "main.team_leave" in request.endpoint %}
            <button id="submit_leave_team" type="submit" class="btn btn-danger">{{ value }}</button>
            {% else %}
            <button id="submit" type="submit" class="btn btn-danger">{{ value }}</button>
            {% endif %}
            {#{{ form.submit(value_= class_="btn btn-danger") }} #}
        </div>
       
    </form>

    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    
    {# Esimerkki modaalilomake #}