
{% macro modal_form(endpoint, linkki) %}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <p>
            <a class="edit-modal-opener" data-toggle="modal"
            data-whatever="{{ url_for(endpoint) }}" href="#">{{ linkki }}</a>
            {# href="{{ url_for('main.user_edit', id=user.id) }}">Linkki</a> #}
            </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro delete_team_form(id, endpoint) %}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <p>
                {#<button type="button" class="btn btn-danger">Delete</button> #}
                {# href="{{ url_for('.edit_profile_admin', id=user.id) }}">
                Edit Profile [Admin] #}
            <a class="edit-modal-opener" data-toggle="modal"
            data-whatever="{{ url_for(endpoint, id=id, **kwargs) }}" href="#">Linkki</a> 
            {# href="{{ url_for('main.user_edit', id=user.id) }}">Linkki</a> #}
            </p>
        </div>
    </div>
</div>
{% endmacro %}


{% macro modal_form2(teksti) %}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <p>
            <a class="edit-modal-opener" data-toggle="modal"
            data-whatever="{{ url_for('main.user_edit') }}" href="#">{{ teksti }}</a>
            {# href="{{ url_for('main.user_edit', id=user.id) }}">Linkki</a> #}
            </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro show_name(username) %}
<p>
    {{ username }}
</p>
{% endmacro %}

{% macro tee_jotain() %}

{% endmacro %}

{% macro modal_form33(endpoint, teksti) %}
            <button class="edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for(endpoint, **kwargs) }}" style="background-color:indianred">{{ teksti }}</button>
{% endmacro %}

{# TOIMII #}
{% macro modal_form3(teksti) %}
            <button class="edit-modal-opener" data-toggle="modal" data-whatever="{{ url_for('main.user_edit') }}" style="background-color:indianred">{{ teksti }}</button>
{% endmacro %}

{% macro modal_form4(input, teksti) %}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <p>
            {{ modal_form3(teksti) }}
            </p>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal_form5(input, linkki) %}
    <a class="edit-modal-opener" data-toggle="modal" data-whatever="modal_form6({{ input }})" href="#">{{ linkki }}</a>
{% endmacro %}

{% macro modal_form6(input) %}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <p>

            </p>
        </div>
    </div>
</div>
{% endmacro %}


{% macro button_delete(endpoint, id) %}

<button class="edit-modal-opener" data-toggle="modal"
        data-whatever="{{ url_for('main.user_edit') }}" href="#" value="juttu" color="IndianRed">
{% endmacro %}


{% macro tasks() %}
<link rel="stylesheet" href="{{ url_for('static', filename='kanban_style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,500,700,800,900" rel="stylesheet">

<body>
    <body>
        <div id="loadingScreen">
            <div class="loader"></div>
        </div>
        <div class="controls p-3">
            <form class="form-inline">
                <label for="titleInput">Title:</label>
                <input class="form-control form-control-sm" type="text" name="title" id="titleInput" autocomplete="off">
                <label for="descriptionInput">Description:</label>
                <input class="form-control form-control-sm" type="text" name="description" id="descriptionInput" autocomplete="off">
                <button class="btn btn-dark" id="add">Add</button>
                <button class="btn btn-danger mx-2" id="deleteAll">Delete All</button>
                <button class="btn" id="theme-btn">
                    Dark/Light
                </button>
            </form>
        </div>
        <div class="boards overflow-auto p-0" id="boardsContainer">
        </div>

{% endmacro %}