<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=message.author.username) }}">
                <img src="{{ message.author.gravatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=message.author.username) }}">
                        {{ message.author.username }}
                    </a>
                </span>
            {% endset %}
            <br>
            <strong>{{ message.author.username }} said {{ moment(message.timestamp).fromNow() }} </strong>{#, username=user_link, when=moment(message.timestamp).fromNow()) }} #}
            <br>
            <span id="message{{ message.id }}">{{ message.body }}</span>
        </small>
            <div class="post-footer">
                <p>
                    <a href="{{ url_for('main.send_message', recipient=message.author.username, message=message) }}">
                        <button class="btn btn-primary">
                            {{ 'Reply' }}
                        </button>
                    </a>
                </p>
            </div>
        </small>
        </td>
    </tr>
</table>
