{% from 'bootstrap/wtf.html' import form_field %}
{% import 'bootstrap/wtf.html' as wtf %}


<form id="ModalForm" name="stepForm" action="{{ url_for(endpoint, id=id) }}" class="form" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">

    {% if "task" in request.endpoint %}
        <p>You can create multiple tasks in this form. Click the x, when you're done.</p>
        {% if "edit_team_task" in request.endpoint %}
        <p>Currently this task is assigned to: <strong id="embed_name">{{ assigned_to.username }}</strong></p>
        {% endif %}
    {% endif %}
        <div class="row">
            
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% if "main.edit_team_task" in request.endpoint %}
       
            <button id="submit_edit_team_task" type="submit" value="Create" class="btn btn-success">Submit</button>
        {% elif "main.create_team_task" in request.endpoint %}
            <button id="submit_new_task" type="submit" value="Create" class="btn btn-success">Submit</button>
        {% else %}
            <button id="submit" type="submit" value="Create" class="btn btn-success">Submit</button>
        {% endif %}
       
    </div>
    
</form>

{#
{% if "main.edit_team_task" in request.endpoint %}
<hr>
<h4>Comments</h4>
{% for comment in comments %}
{% include "_comments.html" %}
{% endfor %}
<hr>
{% import "bootstrap/wtf.html" as wtf %}
<div class="comment-form">
    {{ wtf.quick_form(comment_form) }}
</div>
<hr>

#}


{% endif %}