{% from 'bootstrap/wtf.html' import form_field %}
{% import 'bootstrap/wtf.html' as wtf %}


<form id="ModalForm" name="stepForm" action="{{ url_for(endpoint, id=id) }}" class="form" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">

    {% if "task" in request.endpoint %}
        <p>You can use this form to create and edit tasks</p>
        {% if "edit_team_task" in request.endpoint %}
        <p>Currently this task is assigned to: <strong id="embed_name">{{ assigned_to.username }}</strong></p>
        {% endif %}
    {% endif %}
        <div class="row">
            
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% if "main.edit_team_task" in request.endpoint %}
       
            <button id="submit_edit_team_task" type="submit" value="Create" class="btn btn-success">Submit</button>
        {% elif "main.create_team_task" in request.endpoint %}
            <button id="submit_new_task" type="submit" value="Create" class="btn btn-success">Submit</button>
        {% else %}
            <button id="submit" type="submit" value="Create" class="btn btn-success">Submit</button>
        {% endif %}
       
    </div>
    
</form>

<hr>

{% if "main.edit_team_task" in request.endpoint %}
<hr>
{% import "bootstrap/wtf.html" as wtf %}
<form id="task_comment" name="stepForm" action="{{ url_for('main.team_task_comment', id=team.id, task_id=task.id) }}" class="form" method="post">
    <div class="row">
        <div class="col-md-4">
           {{ wtf.quick_form(comment_form) }}
        </div>
    </div>
    </div>
    <div class="modal-footer">
        {# <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> #}
        <button id="submit-comment" type="submit" value="comment" class="btn btn-success">Submit</button>
    </div>


</form>
    
</div>

<hr>

<hr>
<h4>Comments</h4>
{% for comment in comments %}
{% include "_comments.html" %}
{% endfor %}


{% endif %}