{% import "bootstrap/utils.html" as utils %}
{% from "_macros.html" import modal_form34 with context %}
{% from "_macros.html" import modal_form33_edit_task with context %}
{% from "_macros.html" import modal_form34 with context %}

<div class="card text-center">
    <div class="card-header">{{ task.title }}</div>
    <div class="card-body">
        <p></p>
      <p class="card-text">{{ task.description }}</p>
      
      {#<a href="#" class="card-link">Still Gone</a>#}
      <img href="#" class="card_link">{{ utils.icon("glyphicon glyphicon-arrow-left", ["small"]) }}</a>
      <img href="#" class="card-link">{{ utils.icon("pencil", ["small"]) }}edit{{ modal_form34('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id) }}</a>
      {# toimiva #}
      {# <img src="{{ url_for('static', filename='person-bounding-box.svg') }}" href="#" class="card-link" alt="Assign">{{ modal_form34('main.edit_team_task', id=team.id,form=form, team=team, task_id=task.id) }}</a> #}
      <img src="{{ url_for('static', filename='person-bounding-box.svg') }}" href="#" class="card-link" alt="Assign">{{ modal_form33_edit_task('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id) }}</a>
      <img href="#" class="card_link">{{ utils.icon("glyphicon glyphicon-remove", ["small"]) }}</a>
      {{ modal_form34('main.team_task_delete', id=team.id, task_id=task.id, teksti='delete', value='delete') }}
      {% if user %}
    
    <div class="card-footer">
      <p>assigned to <strong>{{user.username}}</strong> <img src="{{ user.gravatar(32) }}", width="32", height="32", class="rounded me-2", loading="lazy"></p>
    </div>
    {% endif %}
     
      {#<p style="text-align:right" >{{ utils.icon("pencil", ["small"]) }}</p> #}

       
    </div>
</div>