{% import "bootstrap/utils.html" as utils %}
{% from "_macros.html" import modal_form34 with context %}
{% from "_macros.html" import modal_form33_edit_task with context %}
{% from "_macros.html" import modal_form34 with context %}
{% from "_macros.html" import modal_form34_image_delete with context %}
{% from "_macros.html" import modal_form34_image_edit_task with context %}
{% from "_macros.html" import modal_form34_image_move_task_left with context %}
{% from "_macros.html" import modal_form34_image_move_task_right with context %}
{% from "_macros.html" import move_arrow with context %}

<div class="card text-center">
    <div class="card-header">{{ task.title }}</div>
    <div class="card-body">
        <p></p>
      <p class="card-text">{{ task.description }}</p>
      
      {#<a href="#" class="card-link">Still Gone</a>#}
      {#<img href="#" class="card_link">{{ utils.icon("glyphicon glyphicon-arrow-left", ["small"]) }}</a>
      <div class='container'>
        <div class="align-left"s>
          <img href="#" class="card_link">{{ utils.icon("glyphicon glyphicon-arrow-left", ["small"]) }}</a>
        </div>
        <div class="align-right" style="float:right">right
          <img href="#" class="card_link">{{ utils.icon("glyphicon glyphicon-arrow-right", ["small"]) }}</a>
        </div>
      </div>#}
      <table style="width:100%;margin:0 auto">
        <tr>
          <td>
            {# {% if task.board != 1 %} #}
            {{  move_arrow('main.task_move_left', id=team.id, task_id=task.id, direction="left", task=task) }}
            {# {% include "_button_form.html" %} #}
            {# {{ modal_form34_image_move_task_left('main.team_task_move_left', id=team.id, form=form, task_id=task.id, title="Move left") }} #}
            {# {% else %}
            {{ utils.icon("glyphicon glyphicon-arrow-left", ["small"]) }}
            {% endif %} #}
          </td>
          <td id="edit">
            {{ modal_form34_image_edit_task('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id, title='Edit task') }}
          </td>
          <td id="delete">
            {{ modal_form34_image_delete('main.team_task_delete', id=team.id, task_id=task.id, teksti='delete', value='delete') }}
          </td>
          <td>
            {{ move_arrow('main.task_move', id=team.id, task_id=task.id, direction="right", task=task) }}
            
          </td>
        </tr>
      </table>
      
      {# <img href="#" class="card-link">{{ utils.icon("pencil", ["small"]) }}edit{{ modal_form34('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id) }}</a> #}
      {# {% set modal_form34_image_edit_task = modal_form34_image_edit_task %}
      {{ modal_form34_image_edit_task('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id, title='Edit task') }} #}
      
      {# toimiva #}
      {# <img src="{{ url_for('static', filename='person-bounding-box.svg') }}" href="#" class="card-link" alt="Assign">{{ modal_form34('main.edit_team_task', id=team.id,form=form, team=team, task_id=task.id) }}</a> #}
      {# <img src="{{ url_for('static', filename='person-bounding-box.svg') }}" href="#" class="card-link" alt="Assign">{{ modal_form33_edit_task('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id) }}</a> #}
      
      {# <img href="#" class="card_link">{{ utils.icon("glyphicon glyphicon-remove", ["small"]) }}</a> #}
      {# modal_form34_image('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id) image=) #}
      {# {{ modal_form34('main.team_task_delete', id=team.id, task_id=task.id, teksti='delete', value='delete') }} #}
      {# {{ modal_form34('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id) }} #}
      {# {{ modal_form34_image_delete('main.team_task_delete', id=team.id, task_id=task.id, teksti='delete', value='delete') }} #}
      
      {% if user %}
    
    <div class="card-footer">
      <p>assigned to <strong>{{user.username}}</strong> <img src="{{ user.gravatar(32) }}", width="32", height="32", class="rounded me-2", loading="lazy"></p>
    </div>
    {% endif %}
     
      {#<p style="text-align:right" >{{ utils.icon("pencil", ["small"]) }}</p> #}

       
    </div>
</div>