{% import "bootstrap/utils.html" as utils %}
{% from "_macros.html" import modal_form34 with context %}
{% from "_macros.html" import modal_form33_edit_task with context %}
{% from "_macros.html" import modal_form34 with context %}
{% from "_macros.html" import modal_form34_image_delete with context %}
{% from "_macros.html" import modal_form34_image_edit_task with context %}
{% from "_macros.html" import modal_form34_image_move_task_left with context %}
{% from "_macros.html" import modal_form34_image_move_task_right with context %}
{% from "_macros.html" import move_arrow with context %}

{# A team task template #}

<div class="card text-center">
    <div class="card-header">{{ task.title }}</div>
    <div class="card-body">
        <p></p>
      <p class="card-text">{{ task.description }}</p>
      <table style="width:100%;margin:0 auto">
        <tr>
          <td>
            {{  move_arrow('main.task_move_left', id=team.id, task_id=task.id, direction="left", task=task) }}
          </td>
          <td id="edit">
            {{ modal_form34_image_edit_task('main.edit_team_task', id=team.id, form=form, team=team, task_id=task.id, title='Edit task') }}
          </td>
          <td id="delete">
            {{ modal_form34_image_delete('main.team_task_delete', id=team.id, task_id=task.id, teksti='delete', value='delete', comments=task.comments) }}
          </td>
          <td>
            {{ move_arrow('main.task_move', id=team.id, task_id=task.id, direction="right", task=task) }}
            
          </td>
        </tr>
      </table>
      {% if user %}
    
    <div class="card-footer">
      <p>assigned to <strong>{{user.username}}</strong> <img src="{{ user.gravatar(32) }}", width="32", height="32", class="rounded me-2", loading="lazy"></p>
    </div>
    {% endif %}
    </div>
</div>