<div class="container">
    <div class="row">
      <div class="col-sm" id="first">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          
        </div>
      </div>
      <div class="col-sm" id="second">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">

        </div>
      </div>
      <div class="col-sm" id="third">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            
        </div>
      </div>
    </div>
  </div>