{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_macros.html" import modal_form33 with context %}
{% from "_macros.html" import delete_link with context %} 
{% from "_macros.html" import leave_team with context %} 


{% block head %}
    {{ super() }}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> #}
   
{% endblock %}

{% block navbar %}
{{ super() }}

<div class="navbar navbar-inverse" role="navigation" margin-bottom="0px" margin-top="0px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                {#<a class="btn btn-default" href="{{ url_for('.team_members', id=team.id) }}">Members</a>#}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.team', id=team.id) }}">{{ team.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('.team_members', id=team.id) }}">Members</a></li>
                <li><a href="{{ url_for('.team_tasks', id=team.id) }}">Team tasks</a></li>
                <li><a href="{{ url_for('.team_tasks_uusi', id=team.id, team=team) }}">Team tasks2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if "main.team_tasks_uusi" in request.endpoint %}
                <li>{{ modal_form33('main.create_team_task', id=team.id, form=form, team=team, teksti="Create task") }}</li>
                {% endif %}
                {# {% if "main.team_tasks_uusi" not in request.endpoint %} #}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        team options<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        </li>
                        {# <a href="{{ url_for('main.team_leave', id=team.id, username=current_user.username) }}"> </a> #}
                        {#<li>{{ delete_link('main.team_leave', id=team.id, username=current_user.username, form=form, teksti='Leave team') }}</li>#}
                        <li>{{ leave_team(id=id, username=username, teksti="leave team") }}</li>
                        {# {{ delete_link('main.team_leave', id=team.id, form=form, teksti='Leave team') }} #}
                    </ul>
                </li>
            </ul>
                {# {% endif %} #}
                <!-- <li>
                    <a href=
                </li> -->
                
                {#<li><a href="/auth/login">Log In</a></li>#}
                
                
               
        </div>
    </div>
</div>

{% endblock %}

{% block app_content %}


<p>
<ul>
</ul>
</p>

{% endblock %}


{% block scripts %}
    {{ super() }}
    {# <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> 
    <script src="offcanvas.js"></script> #}

    // {# For some reason, I just couldn't get the modal form to redirect
    anywhere despite it working with other forms. I solved it with this hacky#}
    <script type="text/javascript">
        document.getElementById("submit_to_leave").onclick = function () {
            location.href = "{{ url_for('main.index') }}";
        };
    </script>
    
    <script>
        // {# seuraava #}
        $(document).ready(function () {
        $('.edit-modal-opener_create_task').click(function () {
            var url = $(this).data('whatever');
            $.get(url, function (data) {
                $('#Modal .modal-content').html(data);
                $('#Modal').modal();
                $('#submit_new_task').click(function (event) {
                    event.preventDefault();
                    $.post(url, data = $('#ModalForm').serialize(), function (
                        data) {
                        //if (data.status == 'ok') {
                            console.log("Data: ", data);
                            console.log("data.status: ", data.status);
                            $('#Modal').modal('hide');

                            $('#')
                            location.reload();
                        })
                    });
                })
            });
        });
    </script>


    {#<script type="text/javascript">
        document.getElementById(".task_move_right").onclick = function () {
            location.href = "{{ url_for('main.team_task_move_right', id=team.id, task_id=task_id) }}";
        };
    </script> #}

    
{% endblock %}