{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_macros.html" import modal_form33 with context %}

{% block head %}
    {{ super() }}
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
{{ super() }}

<div class="navbar navbar-inverse" role="navigation" margin-bottom="0px" margin-top="0px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                {#<a class="btn btn-default" href="{{ url_for('.team_members', id=team.id) }}">Members</a>#}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.team', id=team.id) }}">{{ team.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('.team_members', id=team.id) }}">Members</a></li>
                <li><a href="{{ url_for('.team_tasks', id=team.id) }}">Team tasks</a></li>
                <li><a href="{{ url_for('.team_tasks_uusi', id=team.id, team=team) }}">Team tasks2</a></li>
                {##}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a href=
                </li> -->
                
                {#<li><a href="/auth/login">Log In</a></li>#}

                    <li>{{ modal_form33('main.create_team_task', id=team.id, form=form, team=team, teksti="Create task") }}</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block app_content %}
<p>
<ul>
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <li>
            {{ modal_form33('main.create_team_task', id=team.id, form=form, team=team) }}
        </li>
        </div>
    </div>
</div>
</ul>
</p>

{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="offcanvas.js"></script>
{% endblock %}