{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} Tasker{% else %}{{ 'Welcome to tasker' }}{% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation" margin-bottom="0px">
        {# Vaihtamalla tähän saa leviämään koko sivulle! #}
        {# <div class="container-fluid"> #}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Tasker</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    <li><a href="{{ url_for('main.index') }}">Index</a></li> 
                    
                    <li><a href="{{ url_for('main.new') }}">Uusi viesti</a></li>
                {#    <li><a href="{{ url_for('main.edit_profile') }}">Edit profile</a></li> #}
                </ul>
                <!-- Teams -->
                <ul class="nav navbar-nav navbar-center">
                    {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown_toggle" data-toggle="dropdown" id="team">Teams<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for team in current_user.teams %}
                            <li><a href="{{ url_for('main.team', id=team.id) }}">{{ team.title }}</a></li> 
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{{ url_for('main.create_team') }}" id="create_team">Create team</a></li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>
                

                <ul class="nav navbar-nav navbar-right",style="text-align: center">
                    {% if current_user.is_anonymous %}
                    
                    <li><a href="{{ url_for('auth.login') }}">{{'login'}}</a></li>
                    {% else %}
                    <!-- Henkilokohtaiselle sivulle vieva linkki -->
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ 'Profile' }}</a></li>
                    <li>Hei, {{ current_user.username }}</li>
                    <li><a href="{{ url_for('auth.logout') }}">{{'Logout'}}</a></li>
                    {% endif %}
                </ul>
                <!-- Right edge -- account etc -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.gravatar(size=18) }}">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.edit_profile') }}">Edit profile</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block content %}
    {% if "teams" in request.path and "tasks" in request.path %}
    <div class="container.fluid">
    {% else %}
    <div class="container">
    {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
       
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    {# Suurempi lomake #}
    

    {# Esimerkki modaalilomake #}
    {% if request.endpoint %}
        {% if "edit_team_task" not in request.endpoint %}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
             <!-- load content here -->
            </div>
        </div>
    </div>
    {% else %}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true" style="width:750px;margin:auto">
        <div class="modal-dialog">
            <div class="modal-content">
             <!-- load content here -->
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        // {# Esimerkki modaalilomake #}
        $(document).ready(function () {
        $('.edit-modal-opener').click(function () {
            var url = $(this).data('whatever');
            $.get(url, function (data) {
                $('#Modal .modal-content').html(data);
                $('#Modal').modal();
                $('#submit').click(function (event) {
                    event.preventDefault();
                    $.post(url, data = $('#ModalForm').serialize(), function (
                        data) {
                        if (data.status == 'ok') {
                            $('#Modal').modal('hide');

                            console.log("data: ", data);
                            location.reload();
                        } else {
                            var obj = JSON.parse(data);
                            for (var key in obj) {
                                if (obj.hasOwnProperty(key)) {
                                    var value = obj[key];
                                }
                            }
                            $('.help-block').remove()
                            $('<p class="help-block">' + value + '</p>')
                                .insertAfter('#' + key);
                            $('.form-group').addClass('has-error')
                            }
                                
                        
                        })
                    });
                })
            });
        });
   
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse IN event handler
                    var elem = $(event.currentTarget);
                    var string = elem.attr('id');
                    console.log('spaninarvo value: ' + string)
                    // var string = elem.first().text().trim();
                    console.log("string: " + string);
                    var piste = string.indexOf(".");
                    var pisteplusyksi = piste+1;
                    var pituus = string.length;
                    var loppu = string.slice(pisteplusyksi, pituus);
                    var user = string.slice(0, piste);
                    console.log("user: " + user);
                    console.log("loppu " + loppu);
                    console.log("pituus: ", pituus);
                    console.log("Piste: " + piste)
                    //console.log("user " + user)
                    console.log(elem);
                    console.log("elem.first()");
                    console.log(elem.first());
                    console.log("elem.first().text()");
                    console.log(elem.first().text());
                    console.log("elem.first().text().trim()");
                    console.log(elem.first().text().trim());
                    console.log("elem.first().text().trim() + /popup");
                    console.log(elem.first().text().trim() + '/popup');
                    console.log('ed + user');
                    console.log('/user/' + elem.first().text().trim() + '/popup');
                    //console.log("target " + elem.target);
                    console.log("prev")
                    //console.log(elem.prevObject(elem));

                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            //'/user/' + elem.first().text().trim() + '/popup/' + loppu).done(
                            '/user/' + user + '/popup/' + loppu).done(
                                function(data) {
                                    xhr = null;
                                    // Create and display popup here
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                        //console.log('xhr');
                        //console.log(xhr);
                        //console.log('xhr innerText');
                        //console.log(xhr.innerText);
                        //console.log('xhr outerText');
                        //console.log(xhr.outerText);
                        //console.log('xhr text');
                        //console.log(xhr.text());
                    }, 1000);
                },
                function(event) {
                    // mouse OUT event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        // destroy popup here
                        elem.popover('destroy');
                    }
                }
            );
        });
    </script>

{% endblock %}
