{% if "main.create_team" not in request.endpoint %}
    {% extends "_team_base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "_macros.html" import modal_form33 with context %}
{% from "_macros.html" import delete with context %}

{% block app_content %}
    <h1>{{ ('Edit team') }}</h1>
    {% if "team" in request.path and "create" not in request.endpoint and "members" in request.endpoint %}
        {% include '_users.html' %}
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    {% if "team" in request.path and "create" not in request.endpoint %}
        <p>
        {% if get_user_team_role(current_user, team.id).team_role_name == "Team owner" or current_user.get_team_member_object(team.id).is_team_owner() or current_user.is_team_administrator(team.id) or current_user.is_administrator() %}
            {% if "create_team" not in request.endpoint %}
            <div class="row">
                <div class="col-md-4">
                    {% if not current_user.is_administrator() %}
                        {{ delete('main.team_delete', id=team.id, teksti="Delete team") }}
                    {% else %}
                        {{ delete('main.team_delete', id=team.id, teksti="Delete team as admin") }}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
