{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td width="256px"><img src={{ url_for('static', filename='teamlogo.png') }}></td>
        <td>
            <h1>{{ team.title }}</h1>
            
            {% if team.description %}<p>{{ team.description }}</p>{% endif %}
            
            </p>
            <p>
                <a class="btn btn-default" href="{{ url_for('.edit_team', id=team.id) }}">Edit team</a>
                <a class="btn btn-default" href="{{ url_for('.invite_to_team', id=team.id) }}">Invite to team</a>
                {% if current_user.is_team_moderator(team.id) or current_user.is_team_administrator(team.id) %}
                <a class="btn btn-default" href="{{ url_for('.edit_member_roles', id=team.id) }}">Edit team member roles</a>
                {% endif %}
            </p>
        </td>
        <td>
            <h2>Team members</h2>
            <p>
                {# a comment #}
                {# TODO: Boostrapin sivuilla oli listattu kehittäjä tiimi ja käytetty
                aika kivaa layouttia, josta osa kopioitu tähän alle. Ehkä tätä voisi hyödyntää? 
                Esimerkin lähde: https://getbootstrap.com/docs/5.0/about/team/ 
                
                Katso lisäksi popover-esimerkki miguelin blogista:
                https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xx-some-javascript-magic
                
                #}
                {# Tämä ei kai toimi tällä hetkellä siitä syystä, että javascrpit-funktiosi tarvitsisi, että tekstissä
                    on henkilön nimi ja tiimi numero, kuten find_user.html -sivulla tällä hetkellä. #}
                {% for user in team.users %}
                <div class="list-group mb-3">
                    <span class="user_popup">
                    {# <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://github.com/mdo"> #}
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="{{ url_for('main.user_popup', username=user.username, team_id=team.id) }}">
                        {# <img src="https://github.com/mdo.png" alt="@mdo" width="32" height="32" class="rounded me-2" loading="lazy"> #}
                        <img src="{{ user.gravatar(32) }}", width="32", height="32", class="rounded me-2", loading="lazy">
                        {#<p>
                            {{ user.username }}
                        </p>#}
                        <span>
                          <strong>{{ user.userame }}</strong> <b>{{ user.username }}</b>
                        </span>
                    </a>
                    </span>
                </div>
                {##}
                {% endfor %}
                <p>
                {% for user in team.users %}
                <table>
                    <tr>
                        <th>Team member</th>
                        <th>Team member role</th>
                    </tr>
                    <tr>
                        <td>{{ user.username }}</td>
                        {# <td>{{ (user.get_team_role(team.id)) }}</td> #}
                        <td>{{ get_user_team_role(user, team.id) }}</td>
                    </tr>
                </table>
                {% endfor %}
                </p>
            </p>
        </td>
    </tr>
</table>

{% endblock %}