{% extends "_team_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'bootstrap/wtf.html' import form_field %}
{% from "_macros.html" import taskscards with context %}
{% from "_macros.html" import modal_form33_edit_task with context %}
{% from "_macros.html" import modal_form33_create_task with context %}

{% block head %}
{{ super() }}

{% endblock %}

{% block app_content %}
{{ super() }}

<p style="text-align:center">
  {{ modal_form33_create_task('main.create_team_task', id=team.id, form=form, team=team, teksti="Create task") }}
</p>

  <div class="container">
  <div class="row yellow">
    <div class="col-lg-12 ">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 green text-center">
        <!-- Kolumni 1-->
        <div class="card text-center" style="border:none">
          <div class="card-body" style="border:none">
            <h2 class="card-title" style="border:none">Todos</h5>
          </div>
        </div>
        <!-- kortti -->
        <span id="task_span">
         {% for task in todos %}
          {% with task_id=task.id %}
            {% if (get_user_from_team_member_id(get_task_assigned2(task.team_tasks).doing, get_task_assigned2(task.team_tasks).team_id)) %}
              {% with user=(get_user_from_team_member_id(get_task_assigned2(task.team_tasks).doing, get_task_assigned2(task.team_tasks).team_id)) %}
                {% include '_task2.html' %}
              {% endwith %}
            {% else %}
              {% include '_task2.html' %}
            {% endif %}
          {% endwith %}

          <br>
          {% endfor %}
      </span>
      </div> 
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 green text-center">
        <!-- Kolumni 2-->
        <div class="card text-center" style="border:none">
          <div class="card-body" style="border:none">
            <h2 class="card-title" style="border:none">Doing</h5>
          </div>
        </div>
        <!-- kortti -->
        {% for task in doings %}
          {% with task_id=task.id %}
            {% if (get_user_from_team_member_id(get_task_assigned2(task.team_tasks).doing, get_task_assigned2(task.team_tasks).team_id)) %}
              {% with user=(get_user_from_team_member_id(get_task_assigned2(task.team_tasks).doing, get_task_assigned2(task.team_tasks).team_id)) %}
                {% include '_task2.html' %}
              {% endwith %}
            {% else %}
              {% include '_task2.html' %}
            {% endif %}
          {% endwith %}
          <br>
          {% endfor %}
        <!-- Kortti loppuu -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 green text-center">
        <!-- Kolumni 3-->
        <div class="card text-center" style="border:none">
          <div class="card-body" style="border:none">
            <h2 class="card-title" style="border:none">Done</h5>
          </div>
        </div>
        <!-- Kortti alkaa -->
        {% for task in dones %}
          {% with task_id=task.id %}
            {% if (get_user_from_team_member_id(get_task_assigned2(task.team_tasks).doing, get_task_assigned2(task.team_tasks).team_id)) %}
              {% with user=(get_user_from_team_member_id(get_task_assigned2(task.team_tasks).doing, get_task_assigned2(task.team_tasks).team_id)) %}
                {% include '_task2.html' %}
              {% endwith %}
            {% else %}
              {% include '_task2.html' %}
            {% endif %}
          {% endwith %}

          <br>
          {% endfor %}
        
        
        <!-- Kortti loppuu -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

