{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td width="256px"><img src={{ url_for('static', filename='teamlogo.png') }}></td>
        <td>
            <h1>{{ team.title }}</h1>
            
            {% if team.description %}<p>{{ team.description }}</p>{% endif %}
            
            </p>
            <p>
                <a class="btn btn-default" href="{{ url_for('.edit_team', id=team.id) }}">Edit team</a>
                <a class="btn btn-default" href="{{ url_for('.invite_to_team', id=team.id) }}">Invite to team</a>
            </p>
        </td>
    </tr>
</table>

{% endblock %}