{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{# {% import "_macros.html" as macros %} #}
{# {% from "_macros.jinja"  import modal_form2 with context %} #}
{% from "_macros.html" import show_name with context %}
{% from "_macros.html" import modal_form2 with context %}
{% from "_macros.html" import modal_form3 with context %}
{% from "_macros.html" import modal_form4 with context %}
{% from "_macros.html" import modal_form5 with context %}
{% from "_macros.html" import modal_form with context %}

{% block app_content %}
{% if user != current_user %}
    <p>
        <a href="{{ url_for('main.send_message', recipient=user.username) }}">
            <button class="btn btn-primary">
                {{ 'Send private message' }}
            </button>
        </a>
    </p>
{% endif %}

<table class="table table-hover">
    <tr>
        <td width="256px"><img src="{{ user.gravatar(256) }}"></td>
        <td>
            <h1>{{ user.username }}</h1>
            {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                {% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
                {% endif %}
            </p>
            
        </td>
        {#
        {% if (user == current_user) or (current_user.is_administrator()) %}
        #}
        <td>
            <h2>Belongs to teams</h2>
            <ul>
            {% for team in user.teams %}
                <li>
                    <a href="{{ url_for('main.team', id=team.id) }}">{{ team.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>
    <div>
        <h1>User: {{ user.username }}</h1>
        <hr>
        {% for task in tasks %}
        <p>
        {{ task.user.username }} tasks: <b>{{ task.title }}</b>
        </p>
        {% endfor %}
        <br>
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}
    </div>

    {# Esimerkki modaalilomake #}
    <!-- Dynamic Modal -->
    <p>
    
    <a class="edit-modal-opener" data-toggle="modal"
        data-whatever="{{ url_for('main.user_edit') }}" href="#">Linkki</a> 
        {# href="{{ url_for('main.user_edit', id=user.id) }}">Linkki</a> #}
    <div class="model-content">
    {# {{ macros.modal_form() }} #}
    </div>
    </p>
    Väliteksti
    <p>
        {{ show_name(user.username) }}
    </p>
    <p>
        väliteksti2
    </p>
    {#<a class="edit-modal-opener button2" {{ modal_form3(user.username) }}>tekstia</a> #}
    <p>
        <p>{# TOIMII #}
            {{ modal_form3(user.username) }}
        </p>
    {#
    <!--<button class="edit-modal-opener button2" data-toggle="modal"
        data-whatever="{{ url_for('main.user_edit') }}" href="#" value="juttu" color="IndianRed">asdad</button>-->
    
    #}
    

{% endblock %}